.about{
    background-color: white;
    padding: 50px;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 15px;
}
.about p{
    margin-top: 50px;
}