*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 10%;
    height: 10%;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.nav a{
    text-decoration-line: none;
    color: black;

}